
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fb;
    text-align: center;
  }
  
  h1 {
    color: #222;
    margin-bottom: 30px;
  }

  .nav {
    background-color: #E7ECEF;
    display: flex;
    justify-content: center;
    padding: 10px 40px;
}

.nav a {
    color: #2F5061;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
  
  .conteudos-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  
  .card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 320px;
    padding: 20px;
  }
  
  .card h2 {
    margin-bottom: 10px;
    color: #333;
  }
  
  iframe {
    border: none;
    border-radius: 10px;
  }
  
  header {
    background-color: #588196;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header img {
    height: 120px;
    
  }
  