* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #496f83;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  background-color: #E7ECEF;
  display: flex;
  justify-content: center;
  padding: 10px 40px;
}



.nav a {
  color: #2F5061;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}


.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid #bce0f7;
}


header {
  background-color: #588196;
  padding: 15px;
  text-align: center;
  position: relative;
}

.inicio {
  position: absolute;
  left: 15px;
  top: 15px;
  font-weight: bold;
  color: #ffffff;
}

.logo {
  width: 200px;
}

.perfil {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.perfil-pic img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.info {
  text-align: left;
  margin: 20px 0;
}

.info label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.info input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #eee;
}

button {
  padding: 10px 20px;
  background-color: #45637d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


footer {
  background-color: #588196;
  color: white;
  text-align: center;
  margin-top: 20px;
  padding: 25px;
}

.icons img {
  width: 25px;
  margin: 5px;
}
