body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F4F3EE;
}

/* Cabeçalho */
.header {
    background-color: #588196;
    padding: 30px;
    text-align: center;
}
.header img {
    height: 120px;
}
.nav {
    background-color: #E7ECEF;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

.nav a {
    color: #2F5061;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

/* Menu Superior */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E8E8E4;
    padding: 10px 30px;
    font-size: 18px;
}
.menu a {
    text-decoration: none;
    color: #2F5061;
    font-weight: bold;
}
.menu .title {
    text-align: center;
    color: #2F5061;
    font-size: 22px;
}

/* Bloco de Medicamentos */
.medicamentos {
    background-color: #D3D3D3;
    width: 400px;
    margin: 30px auto;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}
.medicamentos h2 {
    background-color: #7A8997;
    color: white;
    margin: 0;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}
.btn {
    display: inline-block;
    background-color: #2F5061;
    color: white;
    padding: 8px 12px;
    margin-top: 10px;
    border-radius: 6px;
    text-decoration: none;
}

/* Conteúdos Didáticos */
.conteudos {
    text-align: center;
    margin-top: 40px;
}
.conteudos h2 {
    color: #2F5061;
    margin-bottom: 20px;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
}
.card {
    background-color: white;
    padding: 15px;
    width: 180px;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}
.card img {
    width: 100%;
    height: 120px;
    object-fit: contain;
}
.card p {
    font-size: 14px;
    margin: 10px 0;
}
.card button {
    background-color: #588196;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}

/* Mapa */
.mapa {
    margin-top: 40px;
    text-align: center;
}
#googleMap {
  width: 100%;
  height: 400px;
  background-color: #ccc; /* só pra teste */
}


/* Rodapé */
.footer {
    background-color: #2F5061;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: white;
}
.footer-content {
    display: flex;
    align-items: center;
}
.idosos-img {
    width: 15vw;
    margin-left: 10px;
}
.icons img {
    width: 20px;
    margin-left: 10px;
}
