body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #254150;
    color: white;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background: #2F5061;
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texto {
    padding: 20px;
}

.header {
    background-color: #588196;
    padding: 30px;
    text-align: center;
}

.header img {
    max-width: 200px;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 18px;
}

.button {
    background: #ECECEC;
    color: black;
    padding: 15px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
}

#color_button {
    background-color: #588196;
    border-radius: 5px;
    border: 0;
    padding: 10px;
}

.footer {
    background-color: #2F5061;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.footer-content {
    display: flex;
    align-items: center;
}

.idosos-img {
    width: 15vw;
    margin-left: 10px; 
}

.icons img {
    width: 20px; 
    margin-left: 10px; 
}

